body{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aqua;
    height: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    
    

}
#calc{
    background-color:black;
    width: 400px;
    height: 95vh;
    
}
.btn{
    background-color:black;
    height: 120px;
    width: 120px;
}
#result{
    height: 100%;
    width: 90%;
    border-radius: 10px;
    font-size: 40px;
    color: red;
    text-align:left;
    background-color:white;
}


.btn1{
    border-radius: 20px;
    background-color: black;
    height: 120px;
}
.v{
    background-color:blue;
    height: 50px;
    width: 50px;
    font-weight: bold;
    border-radius: 25px ;
    border: black;
}
.b{
    background-color: rgb(18, 221, 66);
    height: 50px;
     width: 50px;
     font-weight: bold;
     border-radius: 25px ;
     border: black;
}
.b:hover{
    cursor: pointer;  
    
   }
   
   .c{
    background-color: rgb(249, 6, 6);
    height: 50px;
    width: 50px;
    font-weight: bold;
    border-radius: 25px ;
    border: black;
   }